#Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

#Environment files
env/
.conda/

#Jupyter checkpoints
.ipynb_checkpoints/

#Full datasets (too large)
/data

#Output files
output.*


#VSCode files
.vscode/